#About{
    height: max-content;
    min-height: max(40vh, 300px);
}
.about-img>span {
    border: solid 2px var(--p-br-low);
    background-color: var(--p-bg-in);
    height: 200px;
    width: 320px;
    padding: 0px !important;
    transition: transform 0.2s;
}

.about-img:hover span {
    border: solid 2px #0CBBF2;
    transform: translate(2px, -2px);
}

.about-cont>label {
    width: calc(100% - 450px);
}

@media (450px> width) {
    #About h2{
        justify-content: center;
    }
    .about-cont{
        width: 80% !important;
        gap: 30px !important;
    }
    .about-img{
        width: 100% !important;
    }
    .about-img>span{
        width: 100% !important;
    }
    .about-img>span>img{
        height: 100% !important;
        width: 100% !important;
    }
}