.p-btn {
    border: none;
    outline: none;
    background-color: var(--p-bg-in);
    text-decoration: none;
}

.p-btn:hover {
    background-color: #0CBBF2;
}

.p-btn[data-state='active'] {
    background-color: #0CBBF2;
}

.p-btn>label {
    background-color: var(--p-bg-in);
    padding: 12px 24px;
    transition: transform 0.2s;
}

.p-btn:hover>label {
    transform: translate(1px, -2px);
}

.p-btn[data-state='active'] label {
    border: solid 2px #0CBBF2;
}

.p-btn[data-state='active']>label>span>svg {
    stroke: #0CBBF2;
    fill: #0CBBF2;
}

.p-btn[data-state='active']>label>p {
    color: #0CBBF2;
}