.bg-custom {
    background-image: url('https://pbs.twimg.com/media/GQyQ7orWgAAas-c?format=webp&name=large');
    opacity: 0.4;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: -40px;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;

    pointer-events: none;
    z-index: 0;
}
body.LightMode .bg-custom {
    opacity: 0;
}


.land-main {
    position: relative;
    z-index: 100;

}

.land-subtitle{
    color: #C1C1C1;
    font-weight: 400;
    font-size: 1.65rem ;
}

.l-title {
    font-weight: bold;
    font-size: 4.85rem;
    text-align: center;
}

.l-subtitle {
    font-weight: bold;
    font-size: 2rem;
}

.l-text-p {
    text-align: start;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.65rem;
    cursor: auto;
}

.land-main>section {
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    scroll-margin-top: 200px;
}