.bg-custom {
    animation: parallax 1s linear;
    animation-timeline: scroll(y);
    --p-parallax-speed: -30;
    background-image: url(../../../public/background.jpg);
    opacity: 0.7;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 0px;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;

    pointer-events: none;
    z-index: 0;
}

@keyframes parallax {
    to {
        transform: translateY(calc(var(--p-parallax-speed) * 100px));
    }

}

.a-none {
    text-decoration: none;
}

body.LightMode .bg-custom {
    opacity: 0;
}


.land-main {
    position: relative;
    z-index: 100;

}

.l-title {
    font-weight: bold;
    font-size: 72px;
    text-align: center;
}

.l-subtitle {
    font-weight: bold;
    font-size: 38px;
}

.l-text-p {
    text-align: start;
    font-weight: 500;
    font-size: 18px;
}

.land-main>section {
    height: 100vh;
    text-align: center;
    z-index: 1000;
}


.land-top {
    height: calc(100vh + 24vh);
    z-index: 10;
}

#Home {
    height: calc(100vh - 70px) !important;
    animation: parallax 1s linear;
    animation-timeline: scroll(y);
    --p-parallax-speed: 13;
    scroll-margin-top: 5000px;
}

.arrow-land {
    fill: var(--p-icon-high);
}

.about-img>span {
    height: 250px;
    width: 380px;
}
.about-img>span {
    border: solid 2px var(--p-br-low);
    background-color: var(--p-bg-in);
    transition: transform 0.2s;
}

.about-img:hover span {
    border: solid 2px #0CBBF2;
    transform: translate(2px, -2px);
}

.about-cont>label {
    width: calc(100% - 600px);
}

#Contact {
    height: 80vh;
}

#Contact h2 {
    font-size: 44px;
    font-weight: 700;
    text-align: start;
    color: var(--p-font-h1);
}

#Contact p {
    font-size: 24px;
    font-weight: 500;
    color: var(--p-font-p-low);
}

#Projects {
    scroll-margin-top: -80px !important;
}

.project-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 370px));
    place-items: center;
    justify-content: center;
    row-gap: 30px;
}

.project-btn {
    padding: 12px;
    background-color: #202020;
}
.project-btn:hover{
    background-color: #2e2e2e;
}

#Skills {
    scroll-margin-top: -200px;
    height: calc(90vh - 20px);
    align-items: start;
}

.ski-logo-wrapper {
    width: 84%;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0));
}

.logo {
    overflow: hidden;
    border-radius: 16px;
    width: 80px;
    height: 80px;
    border-radius: 6px;
    position: absolute;
    left: 100%;
    animation-name: scrollLeft;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    fill: var(--p-font-p-low);
    transition: transform 0.2s;
}
.logo:hover{
    transform: scale(1.04);
    fill: var(--p-font-h1);
}

@keyframes scrollLeft {
    to {
        left: -80px;
    }
}

.ski-logo-wrapper>.logo:nth-child(1) {
    animation-delay: calc(15s / 6 * (6 - 1) * -1);
}

.ski-logo-wrapper>.logo:nth-child(2) {
    animation-delay: calc(15s / 6 * (6 - 2) * -1);
}

.ski-logo-wrapper>.logo:nth-child(3) {
    animation-delay: calc(15s / 6 * (6 - 3) * -1);
}

.ski-logo-wrapper>.logo:nth-child(4) {
    animation-delay: calc(15s / 6 * (6 - 4) * -1);
}

.ski-logo-wrapper>.logo:nth-child(5) {
    animation-delay: calc(15s / 6 * (6 - 5) * -1);
}

.ski-logo-wrapper>.logo:nth-child(6) {
    animation-delay: calc(15s / 6 * (6 - 6) * -1);
}



.view-anim {
    animation: view-show linear 500ms;
    animation-timeline: view();
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes view-show {
    0% {
        opacity: 0;
        scale: 96%;
    }

    20% {
        opacity: 1;
        scale: 100%;
    }

    80% {
        opacity: 1;
        scale: 100%;
    }

    to {
        opacity: 0;
        scale: 90%;
    }
}