---
import NavigationLayout from "@Layouts/NavigationLayout.astro";
import Contacts from "@Apps/Contact";
---

<NavigationLayout
    title="Contact"
    description="You can contact me by email or Linkedin"
>
    <p class="text-common fs-3">
        Have any questions, i'm here to help and share your ideas.
    </p>
    <div class="contact-form f-col br-8 mx-auto mt-2">
        <p class="m-0 f-row g-2 f-align-center mb-3 pt-3">
            <strong class="d-flex br-4 fs-2" style="padding: .4rem 1rem;"
                >To</strong
            > alberto_p-@hotmail.com
        </p>
        <input type="email" name="email" placeholder="Email" />
        <input type="text" placeholder="Topic" />
        <textarea
            class="py-3"
            placeholder="Message"
            style="resize: none; height: 260px;"></textarea>
        <Contacts client:only="react" />
    </div>
</NavigationLayout>

<style>
    .contact-form {
        background-color: rgba(var(--lb-bg-2));
        border: solid 1px rgba(var(--lb-br), 0.5);
        width: 100%;
        max-width: clamp(540px, 100%, 100%);
        font-size: calc(var(--lb-multiplier) * 14.5px);
    }
    .contact-form p {
        padding-inline: 1.35rem;
    }
    .contact-form strong{
        background-color: rgba(var(--lb-bg-3), 0.8);
        border: solid 1px rgba(var(--lb-br), 0.5);
    }
    .contact-form input {
        outline: none;
        border: none;
        padding: 0.9rem 1.35rem;
        border-top: solid 1px rgba(var(--lb-br), 0.5);
        font-size: calc(var(--lb-multiplier) * 14.8px);
        background-color: transparent;
        color: rgba(var(--lb-title))
    }
    .contact-form textarea {
        outline: none;
        border: none;
        border-top: solid 1px rgba(var(--lb-br), 0.5);
        font-size: calc(var(--lb-multiplier) * 14.8px);
        background-color: transparent;
        padding-inline: 1.35rem;
        color: rgba(var(--lb-title))
    }
</style>
