---
import Layout from "@Layouts/Layout.astro";
---

<Layout title="Contact" description="Template">
    <main class="section f-col" style="min-height: 88vh;">
        <h1>Contact</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
            adipisci nostrum, dicta excepturi cum quibusdam ullam quod,
            necessitatibus maiores deserunt facilis praesentium unde! Cumque
            libero totam aliquid sint, quas maxime.
        </p>
    </main>
</Layout>
