---
import NavigationLayout from "@Layouts/NavigationLayout.astro";
---

<NavigationLayout
    title="Resume"
    description="A resome of Edgar Sanchez - Frontend Developer"
>
    <div class="lb-resume br-10 p-3 d-flex f-center">
        Under construction...
    </div>
</NavigationLayout>
