---
import Header from "@Assets/Header.astro";
import Layout from "@Layouts/Layout.astro";


---

<Layout description="Portfolio of Lifo123">
	<Header/>
	<main class="f-col w-100">
		que onda
	</main>
	
</Layout>

<style is:inline>

</style>