---
import Hero from "@Components/Hero.astro";
import Layout from "@Layouts/Layout.astro";
import About from "@Components/About.astro";
import Experience from "@Components/Experience.astro";
import Projects from "@Components/Projects.astro";
import Skills from "@Components/Skills.astro";
import CallAction from "@Components/CallAction.astro";
---

<Layout
	title="Lifo | Portfolio"
	description="Portfolio of Edgar Sanchez - Frontend Developer"
>
	<main class="port-index f-col f-justify-center">
		<Hero />
		<About />
		<Experience />
		<CallAction />
		<Projects />
		<Skills />
	</main>
</Layout>

<style>
	.port-index {
		z-index: 100;
	}
</style>
