---
import ProjectCards from "@Apps/ProjectCards";
import NavigationLayout from "@Layouts/NavigationLayout.astro";
---

<NavigationLayout title="Projects" description="List of projects">
    <p class="mb-4">
        Explore projects that bring creative solutions to real challenges in design, development, and tech. See ideas in action and the journey of continuous learning.
    </p>
    <ProjectCards max={null} client:only="react" />
</NavigationLayout>
