---
import ProjectCards from "@Apps/ProjectCards";
import NavigationLayout from "@Layouts/NavigationLayout.astro";
---

<NavigationLayout title="Projects" description="List of projects on which I have worked">
    <p class="mb-4">
        Explore projects that bring creative solutions to real challenges in design, development, and tech. See ideas in action and the journey of continuous learning.
    </p>
    <ProjectCards max={null} transition:name="projects" client:only="react" transition:persist/>
</NavigationLayout>
