.header {
    height: 70px;
    width: 100%;
    max-width: 1600px;
    padding-inline: 50px;
    background: linear-gradient(180deg, var(--p-bg) 15%, rgba(255, 0, 0, 0) 105%);
    top: 0;
    z-index: 9999;
}

.header a {
    text-decoration: none;
}

.h-navigation {
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
}

.h-log {
    gap: var(--p-spacing-2);
}

.h-log>a {
    font-size: 1.75rem;
    font-weight: 800;
}

.h-log>span {
    border: solid 2px var(--p-color-gren);
    color: var(--p-color-gren);
    font-weight: 600;
    font-size: 12px;
    padding: 5px 17px;
    user-select: none;
}

.h-navigation {
    gap: var(--p-spacing-4);
}

.h-navigation a {
    font-weight: 600;

    padding: 8px 6px;
    color: var(--p-font-h1);
}

.h-navigation a.active {
    color: var(--p-font-link);
    border-bottom: solid 2px var(--p-font-link);
}

.h-navigation a:hover {
    color: var(--p-font-link);
    border-bottom: solid 2px var(--p-font-link);
}

.h-cta {
    gap: var(--p-spacing-2);
}

.h-talk {
    font-size: 1.15rem;
    background-color: #0c0c0c;
    font-weight: 700;
    padding: 12px 36px;
    min-width: max-content;
    color: #FFF;
}

@media (1050px> width) {
    .h-navigation {
        display: none;
    }
}

@media (520px> width) {
    .header {
        padding-inline: 26px;
    }

    .h-log>span {
        display: none;
    }
}

@media (430px> width) {
    .h-log a {
        font-size: 1.4rem !important;
    }
    .h-talk {
        font-size: 0.9rem;
        padding: 10px 30px;
    }
}