---

---

<section class="section f-col mt-5 mb-8" id="about" style="min-height: max-content;">
    <div>
        <h3 class="fs-5 fw-700">About</h3>
        <p class="l-text-p">Hello! I'm a 20 year old developer from Peru.</p>
        <p class="l-text-p">
            Specialized in building modern websites using <span class="p-blue"
                >ReactJS</span
            > and <span class="p-pink">Sass</span>, with knowledge of Git.
        </p>
        <p class="l-text-p">
            Always improving my skills and staying updated with the latest
            industry trends.
        </p>
    </div>
</section>


<style>
    #about{
        scroll-margin-top: 160px;
    }
</style>