---

---

<section class="section f-col mt-5" id="about" style="min-height: 40vh;">
    <div>
        <h3 class="fs-4 fw-700">About</h3>
        <p class="text-common">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi adipisci nostrum, dicta excepturi cum quibusdam ullam quod, necessitatibus maiores deserunt facilis praesentium unde! Cumque libero totam aliquid sint, quas maxime.</p>
    </div>
</section>
