---
import Age from "./Age.astro";
---

<section
    class="section f-col mt-5 mb-8"
    id="about"
    style="min-height: max-content;"
>
    <div>
        <h2 class="fs-4 fw-700 mb-3">About</h2>
        <p class="m-0 mb-2">
            I'm Edgar Sanchez, a <Age /> year old developer from Peru. Specialized
            in building modern high-performance websites using trending technologies such as React,
            Astro, as well as implementing version control systems (Git) to manage code repositories and collaborative workflows.
        </p>
        <p class="l-text-p">
            My goal is to deliver innovative solutions that drive business success and exceed customer expectations.
        </p>
    </div>
</section>

<style>
    #about {
        scroll-margin-top: 130px;   
    }
</style>
