---
import Age from "./Age.astro";
---

<section
    class="section f-col mt-5 mb-6"
    id="about"
    style="min-height: max-content;"
>
    <div>
        <h3 class="fs-5 fw-700 mb-3">About</h3>
        <p class="m-0 mb-2">
            I'm Edgar Sanchez, a <Age /> year old developer from Peru. Specialized
            in building modern websites using trending technologies such as ReactJS,
            Astro and Sass, with knowledge of Git.
        </p>
        <p class="l-text-p">
            Always improving my skills and staying updated with the latest
            industry trends.
        </p>
    </div>
</section>

<style>
    #about {
        scroll-margin-top: 130px;
    }
</style>
