---

---

<section class="view-anim f-col f-align-start f-justify-center" id="call-ac">
    <div class="f-col f-align-start w-65 mx-auto g-20">
        <h2 class="">¿Do you need a Web Developer?</h2>
        <p class="mb-15">Let's start innovative new projects together.</p>
        <div class="call-btns f-row g-30 f-wrap">
            <a class="" href="#Contact"> Contact me </a>
            <a class="" href="#Projects"> View Projects </a>
        </div>
    </div>
</section>

<style is:inline>
    #call-ac {
        min-height: max(100vh, 700px);
    }

    #call-ac h2 {
        font-size: 3rem;
        font-weight: 700;
        color: var(--p-font-h1);
        text-align: start;
    }

    #call-ac p {
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--p-font-p-low);
        text-align: start;
    }

    .call-btns {
        width: 100%;
        text-align: start;
    }

</style>
