---
import ExperienceList from "./ExperienceList.astro";
---

<section
    id="experience"
    class="section f-col mb-11"
    style="min-height: max-content;"
>
    <article>
        <h2 class="fs-4 fw-700 mb-5">Experience</h2>
        <ExperienceList
            position="Frelance Web Developer"
            place="Remote"
            description="Designed and developed responsive, user-friendly websites using HTML, CSS, JavaScript, and modern frameworks such as React and Astro."
            date="Jan, 2024 - Present"
        />
    </article>
</section>
