---
import ExperienceList from "./ExperienceList.astro";
---

<section id="experience" class="section f-col mb-8" style="min-height: max-content;">
    <article>
        <h3 class="fs-4 fw-700 mb-5">Experience</h3>
        <ExperienceList position="Frelance" place="Remote" description="I develop " date="2022 - Present" />
        <ExperienceList position="Junior Developer" place="National University of San Marcos" description="I develop " date="2022 - Present" />
        <ExperienceList position="Frelance" place="Remote" description="I develop " date="2022 - Present" />
    </article>
</section>
