---

---

<footer class="f-row f-center g-1 my-3 w-90">
    <p class="m-0">
        Built by <a href="https://github.com/Lifo123">Lifo.</a
        > The source code is available on <a
            class="text-blue"
            href="https://github.com/Lifo123/Portfolio">GitHub.</a>
    </p>
</footer>

<style>
    footer {
        padding: 1.7rem 0;
        border-top: solid 1px var(--lb-br-low);
        color: var(--lb-title);
        font-size: 14.5px;
    }
    footer a {
        color: #0592e6;
        font-weight: 600;
    }
    footer a:hover {
        text-decoration: underline;
        color: #00a5ff; 
        text-underline-offset: 2.5px;
    }
</style>
