---

---

<footer class="f-row f-align-center g-1 my-3 w-90">
    <p class="m-0">Built by <a class='text-blue' href="https://github.com/Lifo123">Lifo</a>. The source code is available on <a class='text-blue' href="https://github.com/Lifo123/Template">GitHub</a>.</p>
</footer>

<style is:inline>
    footer{
        padding: 1.7rem 0;
        border-top: solid 1px var(--f-p-br-low);
        color: var(--f-p-tittle);
        font-size: 14.5px;
    }
</style>