---

---

<header class="header d-flex sticky mx-auto">
    <nav class="f-row f-justify-between f-align-center w-100 relative">
        <h3 class="h-log f-row f-align-center g-3">
            <a href="#Home">LIFO.COM</a>
            <span class="br-max">Available</span>
        </h3>
        <ul class="h-navigation relative f-row g-4">
            <li><a href="#Home">Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Projects">Projects</a></li>
            <li><a href="#Skills">Skills</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>
        <div class="h-cta f-row f-align-center">
            <a class="h-talk br-6 fw-700 fs-2" href="#Contact">Let's Talk</a>
        </div>
    </nav>
</header>

<style is:inline>
    .header {
        height: 70px;
        width: 100%;
        padding-inline: 50px;
        background: linear-gradient(
            180deg,
            var(--p-bg) 15%,
            rgba(255, 0, 0, 0) 105%
        );
        top: 0;
        z-index: 9999;
    }

    .h-navigation {
        left: -30px;
    }

    .h-log > a {
        font-size: 1.75rem;
        font-weight: 800;
        color: var(--f-tittle);
    }

    .h-log > span {
        border: solid 2px var(--f-text-green);
        color: var(--f-text-green);
        font-weight: 600;
        font-size: 12px;
        padding: 5px 17px;
        user-select: none;
    }

    .h-navigation a {
        font-weight: 600;
        padding: 8px 6px;
        color: var(--f-tittle);
    }

    .h-navigation a.active {
        color: var(--p-font-link);
        border-bottom: solid 2px var(--p-font-link);
    }

    .h-navigation a:hover {
        color: var(--p-font-link);
        border-bottom: solid 1px var(--p-font-link);
    }

    .h-cta {
        gap: var(--p-spacing-2);
    }

    .h-talk {
        background-color: #0c0c0c;
        padding: 12px 28px;
        min-width: max-content;
        color: #fff;
    }

</style>
