---
import DarkModeBTN from "@Components/Buttons/DarkModeBTN";
---

<header class="header d-flex sticky mx-auto o-hidden br-max">
    <nav class="f-row f-justify-between f-align-center w-100 relative">
        <h3 class="h-log f-row f-align-center g-3 mr-6">
            <a class="ml-3" href="#Home">LIFO</a>
        </h3>
        <ul class="h-navigation relative f-row g-3 ml-5">
            <li><a href="#Home">Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Projects">Projects</a></li>
            <li><a href="#Skills">Skills</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>
        <div class="h-cta f-row f-align-center g-3">
            <DarkModeBTN client:only="react"/>
            <a class="h-talk br-6 fw-700 fs-2 br-max" href="#Contact"
                >Let's Talk</a
            >
        </div>
    </nav>
</header>
<style is:inline>
    .header {
        backdrop-filter: blur(10px);
        background-color: #f6f6f697;
        border: solid 1px var(--port-border);
        height: 60px;
        width: 60%;
        min-width: 340px;
        padding: 12px 22px;
        margin-top: 30px;
        top: 30px;
        z-index: 9999;
    }

    .h-navigation {
        left: -30px;
    }

    .h-log > a {
        font-size: 26px;
        font-weight: 800;
        color: var(--f-tittle);
    }

    .h-navigation a {
        font-weight: 600;
        padding: 8px 6px;
        font-size: 15px;
        color: var(--f-tittle);
    }

    .h-navigation a:hover {
        color: var(--f-text-blue);
        border-bottom: solid 2px var(--f-text-blue);
        transform: scale(1.5);
    }

    .h-talk {
        background-color: #0c0c0c;
        padding: 12px 28px;
        min-width: max-content;
        color: #fff;
    }
</style>
