---
import { Email, Github, Linkedin } from "@Assets/icons/Social/index.ts";
---

<section class="section f-col mt-12" id="#Hero" style="min-height: 48vh;">
    <div class="f-col mb-12">
        <p class="fs-5 m-0 f-row f-center g-2">
            Edgar Sanchez <span class="state br-50 ml-1" data-state="true"
            ></span>
        </p>
        <h2 class="fs-9 fw-700 text-center">Frontend Developer</h2>
        <a
            aria-label="Get Curriculum Vitae"
            class="hero-btn br-max w-max fw-500 pointer mt-3 mx-auto"
            href="/Portfolio/CV">Get Curriculum</a
        >
        <ul class="contact-hero f-row g-5 mt-5 f-center">
            <li>
                <a
                    href="https://github.com/Lifo123"
                    class="icon f-row f-center g-2"
                >
                    <Github size="22" strokeWidth="2" />
                    Github
                </a>
            </li>
            <li>
                <a
                    href="mailto:alberto_p-@hotmail.com?subject=Contact%20me"
                    title="Email"
                    class="icon f-row f-center g-2"
                    target="_blank"
                >
                    <Email size="22" strokeWidth="2" />
                    Email
                </a>
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/in/lifo3/"
                    class="icon f-row f-center g-2"
                >
                    <Linkedin size="22" strokeWidth="2" />
                    Linkedin
                </a>
            </li>
        </ul>
    </div>
</section>

<style>
    .hero-btn {
        border: solid 1px var(--f-p-br-low);
        font-size: 15px;
        padding: 0.6rem 1.25rem;
        line-height: 1.25rem;
        transition: border 0.2s ease;
        color: var(--f-p-title);
    }
    .hero-btn:hover {
        border: solid 1px var(--f-p-br);
    }
    .contact-hero a {
        color: var(--f-p-title);
        font-weight: 500;
        padding: 0.4rem 0.8rem;
        font-size: var(--lb-fs-2);
        border-radius: 150px;
        transition: border 0.2s ease;
    }
    .contact-hero svg {
        stroke: var(--f-p-icon);
        fill: var(--f-p-icon);
    }
    .contact-hero a:hover {
        background-color: var(--lb-bg-2);
    }
    .state {
        display: flex;
        height: 7px;
        aspect-ratio: 1 / 1;
        margin-top: 1px;
        background-color: #2ce16e;
    }
    .state::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #30d654;
        border-radius: 4px;
        animation: loading 1s infinite ease;
    }

    @keyframes loading {
        75%,
        100% {
            transform: scale(2.2);
            opacity: 0;
        }
    }

    @media (650px > width) {
        .contact-hero {
            gap: 0.6rem;
        }
        .contact-hero a {
            font-size: var(--lb-fs-1);
        }
    }
</style>
