---
import Icons from "@lifo123/library/Icons";
---

<section class="section f-col mt-12" id="#Hero" style="min-height: 48vh;">
    <div class="f-col mb-12">
        <p class="fs-5 m-0 f-row f-center g-2">
            Edgar Sanchez <span class="state br-50 ml-1" data-state="true"
            ></span>
        </p>
        <h1 class="fs-9 fw-700 text-center">Frontend Developer</h1>
        <a
            aria-label="Get Curriculum Vitae"
            class="hero-btn br-max w-max fw-500 pointer mt-3 mx-auto"
            href="/CV">Get Curriculum</a
        >
        <ul class="contact-hero f-row g-5 mt-5 f-center">
            <li>
                <a
                    href="https://github.com/Lifo123"
                    class="icon f-row f-center g-2"
                >
                    <Icons icon="github" size={22} />
                    Github
                </a>
            </li>
            <li>
                <a
                    href="mailto:alberto_p-@hotmail.com?subject=Contact%20me"
                    title="Email"
                    class="icon f-row f-center g-2"
                    target="_blank"
                >
                    <Icons icon="email" size={22} />
                    Email
                </a>
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/in/lifo3/"
                    class="icon f-row f-center g-2"
                >
                    <Icons icon="linkedin" size={22}/>
                    Linkedin
                </a>
            </li>
        </ul>
    </div>
</section>

<style>
    .hero-btn {
        font-size: 15px;
        padding: 0.6rem 1.25rem;
        line-height: 1.25rem;
        transition: border 0.2s ease, background-color 0.15s ease, padding .23s ease;
        color: var(--lb-title);
        background: linear-gradient(rgb(var(--lb-bg-2)), rgb(var(--lb-bg-2))) padding-box, linear-gradient(82.77deg, #2066ff 11.87%, #4395ff 38.42%, #4ac470 64.19%, #d36de5 89.96%) border-box;
        border: 2px solid transparent;
    }
    .hero-btn:hover {
        background-color: rgba(var(--lb-br), .1);
        background: linear-gradient(rgb(var(--lb-bg-2)), rgb(var(--lb-bg-2))) padding-box, linear-gradient(82.77deg, #2066ff 8%, #4395ff 45%, #4ac470 55%, #d36de5 90%) border-box;
        padding: 0.6rem 1.8rem;
    }
    .contact-hero a {
        color: var(--lb-title);
        font-weight: 500;
        padding: 0.4rem 0.8rem;
        font-size: var(--lb-fs-2);
        border-radius: 150px;
        transition: border 0.2s ease, background-color 0.13s ease;
    }
    .contact-hero a:hover {
        background-color: rgba(var(--lb-br), .135);
    }
    .state {
        display: flex;
        height: 7px;
        aspect-ratio: 1 / 1;
        margin-top: 1px;
        background-color: #2ce16e;
    }
    .state::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #30d654;
        border-radius: 4px;
        animation: loading 1s infinite ease;
    }

    @keyframes loading {
        75%,
        100% {
            transform: scale(2.2);
            opacity: 0;
        }
    }

    @media (650px > width) {
        .contact-hero {
            gap: 0.6rem;
        }
        .contact-hero a {
            font-size: var(--lb-fs-1);
        }
    }
</style>
