---
import ProjectCards from "@Apps/ProjectCards";
---

<section
    id="projects"
    class="section f-col mb-11"
    style="min-height: max-content;"
>
    <div>
        <h2 class="fs-4 fw-700 mb-4">Projects</h2>
        <ProjectCards
            max={4}
            transition:name="projects"
            client:only="react"
            transition:persist
        />
    </div>
</section>

<style>
    #projects {
        scroll-margin-top: 170px;
    }

    @media (600px > width) {
        #projects {
            scroll-margin-top: 100px;
        }
    }
</style>
