#Projects{
    height: max-content;
    scroll-margin-top: 140px !important;
}

#Projects > span > p{
    font-weight: 400;
    font-size: 17px;
}

#Projects > div{
    margin-top: 48px;
}
.vi-btn-all {
    background-color: var(--p-bg-in);
    padding: 13px 40px;
    text-decoration: none;
    color: var(--p-font-p-low);
}
.vi-btn-all:hover{
    outline: solid 1px var(--p-br-hov);
}

@media(1050px > width){
    #Projects>span{
        align-items: center  !important;
    }
}

@media(480px > width){
    #Projects{
        scroll-margin-top: 90px !important;
    }
    #Projects > span{
        width: 80% !important;
        text-align: start;
        align-items: start !important;
    }
}