/*#region AnimationCircle */

.load-circle {
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.load-circle svg {
    height: 150px;
    width: 150px;
    animation: Spin 1.4s linear infinite;
    overflow: visible;
}

.load-circle svg circle {
    height: 100%;
    width: 100%;
    transform: translate(5px, 5px);
    fill: none;
    stroke: #3498db;
    stroke-linecap: round;
    stroke-dashoffset: 440;
    stroke-dasharray: 440;
    animation: Circle-width 3.6s linear infinite;
}

@keyframes Spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes Circle-width {

    0%,
    100% {
        stroke-dashoffset: 440;
    }

    50% {
        stroke-dashoffset: 0;
    }

    50.2% {
        stroke-dashoffset: 880;
    }
}

/*#end region*/