* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    color: var(--p-font-h1);
}

:root {

    --p-bg: #151515;
    --p-bg-in: #212223;
    --p-br-low: #4D4D4D;
    --p-bg-link: #2388EE;

    --p-font-h1: #FFF;
    --p-font-h2: #8F8F8F;
    --p-font-subtitle: #C1C1C1;
    --p-font-link: #27a3ff;
    --p-font-p-low: #D8D8D8;

    --p-icon: #8B8B8B;
    --p-icon-high: #dbdbdb;
    --p-icon-a: #BFBFBF;


    --p-color-yellow: #DEC800;
    --p-color-gren: #13FA46;
    --p-color-br-gren: #237021;

}

.DarkMode{

    --p-bg: #ececec;
    --p-bg-in: #e6e6e6;
    --p-br-low: #a2a2a2;
    --p-bg-link: #2388EE;

    --p-font-h1: #161616;
    --p-font-h2: #343434;
    --p-font-subtitle: #363636;
    --p-font-link: #27a3ff;
    --p-font-p-low: #4e4e4e;

    --p-icon: #3b3b3b;
    --p-icon-high: #2a2b2f;
    --p-icon-a: #BFBFBF;


    --p-color-yellow: #DEC800;
    --p-color-gren: #07a529;
    --p-color-br-gren: #15cf4c;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--p-bg);
}

body::-webkit-scrollbar {
    background-color: transparent;
    display: block;
    width: 6px;
    margin-right: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--p-br-low);
    width: 6px;
}
.peru-flag{
    background-color: #D91023;
    border-radius: 2px;
    height: 14px;
    width: 21px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -5px;
    pointer-events: none;
}
.peru-flag::after{
    content: ' ';
    background-color: #FFF;
    display: flex;
    height: 100%;
    width: 6px;
    margin-right: 1px;
}