* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    color: var(--p-font-h1);
}

:root {

    --p-bg: #151515;
    --p-bg-in: #1b1c1c;
    --p-bg-in-i: #1b1c1c;
    --p-br-low: #5c5e5f;
    --p-bg-link: #2388EE;

    --p-font-h1: #FFF;
    --p-font-h2: #8F8F8F;
    --p-font-subtitle: #C1C1C1;
    --p-font-link: #27a3ff;
    --p-font-p-low: #D8D8D8;

    --p-icon: #b7b7b7;
    --p-icon-high: #dbdbdb;
    --p-icon-a: #BFBFBF;
    --p-btn-font: #dfdfdf;
    --p-btn-active: #313334;


    --p-color-yellow: #DEC800;
    --p-color-gren: #07EC39;

    --p-spacing-1: 0.5rem;
    --p-spacing-2: 1.25rem;
    --p-spacing-3: 1.85rem;
    --p-spacing-4: 2.5rem;
    --p-spacing-5: 3rem;
}

.LightMode {

    --p-bg: #ededed;
    --p-bg-in: #141416;
    --p-bg-in-i: #e7e7e7;
    --p-br-low: #a2a2a2;
    --p-bg-link: #2388EE;

    --p-font-h1: #10141c;
    --p-font-h2: #171717;
    --p-font-subtitle: #171717;
    --p-font-link: #27a3ff;
    --p-font-p-low: #4e4e4e;

    --p-icon: #1a1a1a;
    --p-icon-high: #2a2b2f;
    --p-icon-a: #5b5b5b;
    --p-btn-font: #FFF;


    --p-color-yellow: #DEC800;
    --p-color-gren: #069d16;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--p-bg);
}

body::-webkit-scrollbar {
    background-color: transparent;
    display: block;
    width: 7px;
    margin-right: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--p-br-low);
    width: 6px;
}

.peru-flag {
    background-color: #D91023;
    border-radius: 2px;
    height: 14px;
    width: 21px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -5px;
    pointer-events: none;
}

.peru-flag::after {
    content: ' ';
    background-color: #FFF;
    display: flex;
    height: 100%;
    width: 7px;
    margin-right: 0px;
}


@media (1000px> width) {
    .about-cont>label {
        width: 100% !important;
    }
}


@media (430px> width) {
    .l-title {
        font-size: 3.75rem !important;
    }
    .land-subtitle{
        font-size: 1.25rem !important;
    }
}