.footer {
    width: 100%;
    padding: 20px 40px;
    z-index: 1000;
}

.footer p {
    font-size: 13px;
    font-weight: 400;
    color: var(--p-font-p-low);
}

.footer a {
    text-decoration: none;
    color: var(--p-font-p-low);
    font-size: 13px;
    font-weight: 300;
    cursor: pointer;
}

.footer a:hover {
    text-decoration: underline;
}

.footer li {
    list-style: none;
}
@media(550px> width){
    .footer{
        margin-top: 10px;
    }
    .footer>ul{
        display: none;
    }
    .footer p {
        margin-inline: auto;
    }
}