.icon {
    stroke: var(--p-icon);
    fill: var(--p-icon);
    z-index: 1000;
    pointer-events: visible;
    cursor: pointer;
    transition: transform 0.15s;
}

.icon[data-hover=true]:hover {
    stroke: var(--p-icon-a);
    fill: var(--p-icon-a);
    transform: scale(1.08);
}

.icon svg {
    pointer-events: none;
}