.project-card {
    background-color: var(--p-bg);
    border: solid 1px #36373918;
    height: 350px;
    width: 340px;
}

.project-card:hover {
    border: solid 1px #53555735;
}

.project-card>a {
    background-color: var(--p-bg-in);
    height: 160px;
    width: 100%;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.project-card>a img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.p-c-ic-e {
    display: none;
}

.project-card>a:hover .p-c-ic-e {
    background: linear-gradient(0deg, var(--p-bg-in-i) -20%, rgba(234, 255, 0, 0) 90%);
    display: flex;
}

.project-card>a:hover .p-c-ic-e svg {
    stroke: #FFF;
    fill: #FFF;
}


.p-c-info {
    height: calc(100% - 190px);
    width: 100%;
    padding: 10px 15px;
    text-align: start;
}

.p-c-info a {
    background-color: var(--p-bg-in);
}

.p-c-info a span {
    border: solid 2px #3b3d3f;
}

.project-card div>a>label {
    padding: 6px 26px !important;
    font-size: 14px;
    background-color: #202020;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.project-card div>a svg {
    height: 22px;
    width: 22px;
    pointer-events: none;
}

.p-c-info>label>h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--p-font-h1);
    cursor: auto;
}

.p-c-info>label>p {
    font-size: 13px;
    font-weight: bold;
    color: #ECB21C;
}

.p-c-info>p {
    font-size: 16px;
    color: var(--p-font-h1);
    font-weight: 300;
}

.p-c-info>div>a svg {
    fill: var(--p-btn-font);
    stroke: var(--p-btn-font);
}

.p-c-info>div>a p {
    color: var(--p-btn-font);
}

.p-c-tag-item {
    padding: 4px 12px;
    font-weight: 600;
    color: white;
}

.p-c-tag-item[data-type='Javascript'] {
    background-color: #D4BF11;
    color: #000;
}

.p-c-tag-item[data-type='React'] {
    background-color: #006EBE;
}

.p-c-tag-item[data-type='Sass'] {
    background-color: #B61B5C;
}

@media(450px > width) {
    #Projects>div {
        width: 86%;
    }

    .project-card {
        width: 100%;
        height: max-content;
    }
}