.project-card {
    background-color: var(--p-bg);
    border: solid 1px #36373918;
    height: 360px;
    width: 340px;
}

.project-card:hover {
    border: solid 1px #53555735;
}

.project-card>a {
    background-color: var(--p-bg-in);
    height: 160px;
    width: 100%;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.project-card>a img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.p-c-ic-e {
    display: none;
}

.project-card>a:hover .p-c-ic-e {
    display: flex;
}

.project-card>a:hover .p-c-ic-e svg {
    stroke: #ffffff;
    fill: #FFF;
}

.pc-img-parent:hover .p-c-hover{
    top: 0px;
}
.p-c-hover {
    background: linear-gradient(0deg, var(--p-bg-in-i) -20%, rgba(234, 255, 0, 0) 100%);
    top: 160px;
    transition: top 0.11s;
}


.p-c-info {
    height: calc(100% - 160px);
    width: 100%;
    padding: 14px 15px;
    text-align: start;
}

.p-c-info a {
    background-color: var(--p-bg-in);
    z-index: 100;
}

.p-c-info a span {
    fill: var(--p-font-p-low);
}

.project-card div>a>label {
    padding: 6px 26px !important;
    font-size: 14px;
    background-color: #202020;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.project-card div>a svg {
    height: 22px;
    width: 22px;
    pointer-events: none;
}

.p-c-info>label>h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--p-font-h1);
    cursor: auto;
}

.p-c-info>label>p {
    font-size: 13px;
    font-weight: bold;
}

.p-c-info>p {
    font-size: 15.5px !important;
    font-weight: 300;
}

.p-c-info>div>a svg {
    fill: var(--p-btn-font);
    stroke: var(--p-btn-font);
}

.p-c-info>div>a p {
    color: var(--p-btn-font);
}

.p-c-tag-item {
    padding: 4px 12px;
    font-weight: 600;
    color: white;
    pointer-events: none;
}

.p-c-tag-item[data-type='Javascript'] {
    background-color: #D4BF11;
    color: #000;
}

.p-c-tag-item[data-type='React'] {
    background-color: #006EBE;
}

.p-c-tag-item[data-type='Sass'] {
    background-color: #B61B5C;
}
.p-c-tag-item[data-type='Astro'] {
    background-color: #181818f2;
}

.p-c-tag-item[data-type='Css'] {
    background-color: #10afff9d;
}

@media(450px > width) {
    #Projects>div {
        width: 86%;
    }

    .project-card {
        width: 100%;
        height: max-content;
    }
}