---
import Layout from "@Layouts/Layout.astro";
import {Toaster} from "sonner"
import { InputText } from "@lifo123/library";
import Login from "@Apps/Login";

---

<script>
    const COOKIE = document.cookie
        .split(";")
        .find((v) => v.startsWith("F-User="));

    if (COOKIE) {
        window.location.href = "/Portfolio/Admin/Dashboard";
    }

</script>

<Layout title="Admin" description="Admin Page">
    <Toaster client:only="react" position="top-center" visibleToasts={1}/>
    <main class="f-col f-justify-center o-hidden mt-13 mb-14">
        <div class="f-col g-2" >
            <h2 class="fs-7">Login</h2>
            <p class="mb-2 fs-3">Please login to access the admin page</p>
            <InputText placeholder="Username" type="text" name="username" className="mb-1" client:only="react"/>
            <InputText placeholder="Password" type="password" name="password" client:only="react"/>
        </div>
        <Login client:only="react" />
    </main>
</Layout>